The following exercises use 2019 flight statistics from the United States Department of Transportation’s Bureau of Transportation Statistics (available [here](https://www.transtats.bts.gov/DL_SelectFields.asp?gnoyr_VQ=FMF&QO_fu146_anzr=Nv4%20Pn44vr45) and in this repository as `data/T100_MARKET_ALL_CARRIER.zip`). Each row contains information about a specific route for a given carrier in a given month (e.g., JFK &rarr; LAX on Delta Airlines in January). There are 321,409 rows and 41 columns. Note that you don't need to unzip the file to read it in with `pd.read_csv()`.

#### __Exercise 4__:

Read in the data and convert the column names to lowercase to make them easier to work with.

In [12]:
import pandas as pd
flight_df = pd.read_csv("/workspaces/student-lecture-materials-jlin119/3-week3/data/T100_MARKET_ALL_CARRIER.zip")
flight_df.columns = flight_df.columns.str.lower()
flight_df.columns = flight_df.columns.str.replace(" ", "_")
# or flight_df.columns.str.lower().str.replace(" ", "_")
flight_df.head()

,passengers,freight,mail,distance,unique_carrier,airline_id,unique_carrier_name,unique_carrier_entity,region,carrier,...,dest_state_nm,dest_country,dest_country_name,dest_wac,year,quarter,month,distance_group,class,data_source
0,0.0,53185.0,0.0,8165.0,EK,20392,Emirates,9678A,I,EK,...,Texas,US,United States,74,2019,1,3,17,G,IF
1,0.0,9002.0,0.0,6849.0,EK,20392,Emirates,9678A,I,EK,...,New York,US,United States,22,2019,1,3,14,G,IF
2,0.0,2220750.0,0.0,7247.0,EK,20392,Emirates,9678A,I,EK,...,Illinois,US,United States,41,2019,1,3,15,G,IF
3,0.0,1201490.0,0.0,8165.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,17,G,IF
4,0.0,248642.0,0.0,6849.0,EK,20392,Emirates,9678A,I,EK,...,NaN,AE,United Arab Emirates,678,2019,1,3,14,G,IF

#### __Exercise 5__:

What columns are in the data?

In [13]:
flight_df.columns

Index(['passengers', 'freight', 'mail', 'distance', 'unique_carrier',
       'airline_id', 'unique_carrier_name', 'unique_carrier_entity', 'region',
       'carrier', 'carrier_name', 'carrier_group', 'carrier_group_new',
       'origin_airport_id', 'origin_airport_seq_id', 'origin_city_market_id',
       'origin', 'origin_city_name', 'origin_state_abr', 'origin_state_fips',
       'origin_state_nm', 'origin_country', 'origin_country_name',
       'origin_wac', 'dest_airport_id', 'dest_airport_seq_id',
       'dest_city_market_id', 'dest', 'dest_city_name', 'dest_state_abr',
       'dest_state_fips', 'dest_state_nm', 'dest_country', 'dest_country_name',
       'dest_wac', 'year', 'quarter', 'month', 'distance_group', 'class',
       'data_source'],
      dtype='object')

#### __Exercise 6__:

How many distinct carrier names are in the dataset?

In [16]:
flight_df.unique_carrier_name.nunique()

318

#### __Exercise 7__:

Calculate the totals of the `freight`, `mail`, and `passengers` columns for flights from the United Kingdom to the United States.

In [34]:
flight_filter = flight_df[(flight_df.origin_country_name == "United Kingdom") & (flight_df.dest_country_name == "United States")]
flight_filter[['freight', 'mail', 'passengers']].sum().reset_index(name = "total")

        index        total
0     freight  903296879.0
1        mail   29838395.0
2  passengers   10685608.0

In [30]:
filtered = flight_df.query('origin_country_name' == "United Kingdom" and 'dest_country_name' == "United States")
filtered[['freight', 'mail', 'passengers']].sum().reset_index(name = "total")
# reset_index(name = string) to convert series to dataframe

ValueError: expr must be a string to be evaluated, <class 'bool'> given